<footer>
  <table>
    <tbody>
      <td>
        <tr>
          <h1>
            Created By
          </h1>
        </tr>
        <tr>
          <p>
            <i>
              <b>©He'sJuanDa</b>
            </i>
          </p>
        </tr>
        <tr>
          <p><br></p>
        </tr>
      </td>
      <td>
        <tr>
          <h1>
            Follow Me
          </h1>
        </tr>
        <tr>
          <a href="https://www.instagram.com/heisjuanda/" target="_blank">
            <p>
              <i>
                <b>Instagram</b>
              </i>
            </p>
          </a>
        </tr>
        <tr>
          <a href="https://github.com/jdma253" target="_blank">
            <p>
              <i>
                <b>GitHub</b>
              </i>
            </p>
          </a>
        </tr>
      </td>
      <td>
        <tr>
          <h1>
            Email me
          </h1>
        </tr>
        <tr>
          <a href="mailto:jdma253@gmail.com">
            <p>
              <i>
                <b>Email</b>
              </i>
            </p>
          </a>
        </tr>
        <tr>
          <p><br></p>
        </tr>
      </td>
    </tbody>
  </table>
</footer>
