<section class="todo" id="init">
  <header class="titulo">
    <h1 id="aboutMe">
      About <br> Me
    </h1>
  </header>
  <article class="description">
    <div class="valid">
      <p>
        <b>Hi!, this is Juan David and I hope you're having a great day.</b>
      </p>
    </div>
    <div class="img1" id="stopAbout">
      <img loading="lazy" src="/assets/Img/myselfAbout.webp" onerror="this.src='/assets/Img/myselfAbout.jpg'"
        alt="JuanDa" width="35vw" height="auto">
    </div>
    <div>
    </div>
    <div class="valid" id="v1">
      <p>
        <b>I'm a 20-year-old software developer student who loves to solve problems and is passionate about
          programming.</b>
        <br>
        <span>
          DoB: February 5th, 2003
        </span>
      </p>
    </div>
    <div class="valid">
      <p>
        <b>I've been always interested in technology, ever since I was a little kid, I'm an outgoing person who loves to
          have fun</b>
        <span>
          (I'm a little bit shy when you first meet me)
        </span>
        <br>
        <b>But I take my work seriously.</b>
      </p>
    </div>
    <div>
      <ng-lottie id="lottieAboutAnimation2" width="100%" height="100%"
        containerClass="moving-box another-class" [options]="blackShapes"
        (animationCreated)="animationCreated($event,0)"></ng-lottie>
    </div>
    <div>
    </div>
    <div class="valid" id="v2">
      <p>
        <b>
          I want to create great apps that will make the world a better place, my enthusiasm for learning and my ideas
          are what drive me
          to be constantly working on new projects.
        </b>
      </p>
    </div>
    <div class="valid" id="stop1">
      <p>
        <b>Technology can be used in many ways to solve real-world problems and I want to use it for good.</b>
      </p>
    </div>
    <div>
    </div>
    <div>
      <ng-lottie id="lottieAboutAnimation1" width="80%" height="80%"
        containerClass="moving-box another-class" [options]="geometry"
        (animationCreated)="animationCreated($event,1)"></ng-lottie>
    </div>
    <div class="valid" id="v3">
      <p>
        <b>
          I also believe that I am eager to learn and interested in finding innovative solutions to complex problems,
          and at my age I am still at the beginning of my career and have many opportunities for growth and advancement.
        </b>
      </p>
    </div>
  </article>
  <div class="download" id="stop2">
    <p>
      Check my CV
    </p>
  </div>
  <div id="end">
    <a href="https://github.com/jdma253/Portafolio/files/10699854/JuanDa.s.RESUMEE.pdf">
      <ng-lottie style="filter: invert();" id="tenthLottie" width="100%" height="100%"
        containerClass="moving-box another-class" [options]="options3"
        (animationCreated)="animationCreated($event,3)"></ng-lottie>
    </a>
  </div>
</section>
