<section>
  <header class="titulo">
    <h1>
      Welcome to my <br> website!
    </h1>
  </header>
  <article>
    <div class="foto">
      <img id="foto" loading="lazy"
      src="/assets/Img/myselfStart.webp" onerror="this.src='/assets/Img/myselfStart.jpg'" alt="Juan David Moreno Alfonso"
        width="30vw" height="auto">
    </div>
    <div class="empezar">
      <p>
        What are you holding out for to find out more about this
        <span class="INFP">
          <a target="_blank"
            href="https://thepleasantpersonality.com/infp-personality/#:~:text=1%20INFP%20stands%20for%20Introverted%2C%20Intuitive%2C%20Feeling%2C%20and,...%205%20INFPs%20are%20generous%2C%20tolerant%2C%20and%20flexible.">
            INFP
          </a>
        </span> person?
        <br>
        <br>
        <span class="findItOut">
          <a href="#ABOUT">
            Let's find it out!
          </a>
        </span>
      </p>
    </div>
  </article>
</section>
