<div class="work" id="inicio">
  <div class="titulo">
    <h1 id="myWork">
      My Work
    </h1>
  </div>
  <nav class="tabla" id="end">
    <div>
      <div class="logo1">
        <img src="/assets/Img/angularLogo.webp" alt="Angular logo" loading="lazy" onerror="this.src='/assets/Img/angularLogo.png'">
      </div>
      <div class="texto1">
        <h1>
          Angular Portafolio
        </h1>
        <a href="https://github.com/jdma253/Portafolio" target="_blank">
          <p>
            GitHub
          </p>
        </a>
      </div>
    </div>
    <div>
      <div class="logo2">
        <img src="/assets/Img/racketLogo.webp" alt="scheme logo" loading="lazy" onerror="this.src='/assets/Img/racketLogo.png'">
      </div>
      <div class="texto2">
        <h1>
          Program Language
        </h1>
        <a href="https://github.com/jdma253/Program-language" target="_blank">
          <p>
            GitHub
          </p>
        </a>
      </div>
    </div>
    <div>
      <div class="logo3">
        <img src="/assets/Img/newtonLogo.webp" alt="Angular logo" loading="lazy" onerror="this.src='/assets/Img/newtonLogo.png'">
      </div>
      <div class="texto3">
        <h1>
          Newton Raphson
        </h1>
        <a href="https://github.com/jdma253/Portafolio" target="_blank">
          <p>
            GitHub
          </p>
        </a>
      </div>
    </div>
    <div>
      <div class="logo4" id="cargarAnimaciones">
        <img src="/assets/Img/gitLogo.webp" alt="github logo" loading="lazy" onerror="this.src='/assets/Img/gitLogo.png'">
      </div>
      <div class="texto4">
        <h1>
          More Projects
        </h1>
        <a href="https://github.com/jdma253?tab=repositories" target="_blank">
          <p>
            GitHub
          </p>
        </a>
      </div>
    </div>
  </nav>
</div>
