<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="portafolio">
  <meta name="keywords"
    content="juan,david,juan david,juanda253,portfolio,heisjuanda,el juanda,juan david moreno,juan david moreno alfonso,jdma253,jd,jd253,font-end,david,moreno,alfonso">
  <meta name="author" content="Juan David Moreno Alfonso, jdma253, heisjuanda">
  <!--FREDOKA FONT-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <!--ROBOTO-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
  <title>Main</title>
</head>
<body id="main">
  <div class="logo">
    <h3>
      <a id="LOGO" href="#main">
        He's <br>
        <span>
          JuanDa
        </span>
      </a>
    </h3>
  </div>
  <section class="mainHeader">
    <header>
      <h1>
        I'm JuanDa
      </h1>
    </header>
    <article>
      <div>
        <a href="#ABOUT">
          <p>About</p>
        </a>
      </div>
      <div>
        <a href="#WORK">
          <p>Work</p>
        </a>
      </div>
      <div>
        <a href="#CONTACTME">
          <p>Contact</p>
        </a>
      </div>
    </article>
  </section>
  <app-start></app-start>
  <app-about id="ABOUT"></app-about>
  <app-work id="WORK"></app-work>
  <app-contact-me id="CONTACTME"></app-contact-me>
  <app-footer></app-footer>
</body>

</html>
